body {
    font: 400 16px/1.3 'Roboto', sans-serif;
    color: var(--color-base-1);
    padding: 84px 112px;
}

.container {
    max-width: 1280px;
    padding: 0 16px;
    margin: 0 auto;
    width: 100%;
}

.form-control {
    border: 1px solid var(--color-border);
    padding: 8px 12px;
    border-radius: 6px;;

    &:focus {
        outline: none;
    }
}
